@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    padding: 0;
    margin: 0;
    font: 16px 'Open Sans', sans-serif;
    quotes: '\201c' '\201d';
}
    header.telenor-nav,
    footer {
        background-color: rgb(0, 172, 231);
        text-align: center;
    }
    header.telenor-nav {
        margin-bottom: 30px;
    }
        .logo {
            height: 130px;
        }
    main {
        width: 90%;
        margin: auto;
    }
        .hub-image-wrapper {
            margin-bottom: 30px;
        }
            .hub-image {
                width: 100%;
                height: auto;
            }
        section.info-box {
            display: flex;
            flex-flow: row;
            padding: 20px;
            background-color: rgb(239, 239, 239);
            box-shadow: 0 2px 10px #b0b0b0;
            margin-bottom: 30px;
        }
            .info-text-wrapper {
                width: 80%;
            }
                .info-title {
                    font-weight: bold;
                }
                .info-text {
                    padding-right: 15px;
                }
                .btn-wrapper {
                    display: flex;
                }
                    .apply-btn {
                        margin: auto;
                        font-size: 16px;
                        padding: 5px 13px;
                        background: linear-gradient(
                                to right,
                                rgba(117,0,113,1) 0%,
                                rgba(255,0,121,1) 100%);
                        border: none;
                        color: #ffffff;
                        text-transform: uppercase;
                    }
        section.intern-cards {
            width: 100%;
            text-align: center;
            display: inline-block;
            position: relative;
        }
            .card-wrapper {
                width: 30%;
                display: inline-block;
                perspective: 1200px;
                margin: 20px 15px 20px 0;
            }
            .card-wrapper:hover .intern-single-card {
                transform: rotateY(-180deg);
            }
                article.intern-single-card {
                    position: relative;
                    transition: all 0.5s ease-in-out;
                    transform-style: preserve-3d;
                }
                    .card-front, .card-back {
                        height: 200px;
                        width: auto;
                        backface-visibility: hidden;
                        overflow: hidden;
                        box-shadow: 0 2px 10px #b0b0b0;
                    }
                    .card-front {
                        background-color: rgb(239, 239, 239);
                        padding: 15px 25px 0;
                    }
                    .card-back {
                        transform: rotateY(180deg);
                        padding: 25px 15px 0 25px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: #ffffff;
                        background-color: rgb(0, 172, 231);
                        text-align: left;
                    }
                        .card-front .intern-name {
                            font-weight: bold;
                        }
                        .card-front .intern-more-info-btn {
                            font-size: 14px;
                            padding: 5px 13px;
                            background: linear-gradient(
                                    to right,
                                    rgba(117,0,113,1) 0%,
                                    rgba(255,0,121,1) 100%);
                            border: none;
                            color: #ffffff;
                            text-transform: uppercase;
                        }
                        .card-back .intern-info {
                            font-style: italic;
                        }
                        .card-back .intern-info::before {
                            content: open-quote;
                        }
                        .card-back .intern-info::after {
                            content: close-quote;
                        }
    footer {
        margin-top: 30px;
    }


@media screen and (max-width: 900px) {
    .card-wrapper {
        width: 45%;
    }
    .card-front, .card-back {
        height: 190px;
    }
}

@media screen and (max-width: 680px) {
    .card-back {
        padding: 20px 15px 0 20px;
    }
}

@media screen and (max-width: 615px) {
    .logo {
        height: 100px;
    }
    section.info-box {
        flex-flow: column;
    }
    .info-text-wrapper {
        width: 100%;
    }
    .info-text {
        padding-right: 0;
    }
    .intern-name {
        font-size: 16px;
        width: 65%;
        margin: 10px auto;
    }
    .card-wrapper {
        margin: 15px 10px 15px 0;
    }
    .card-back .intern-info {
        font-size: 16px;
    }
    .card-front, .card-back {
        height: 200px;
    }
}

@media screen and (max-width: 580px) {
    .card-back .intern-info {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .card-back {
        padding: 15px 10px 0 15px;
    }
}

/*phone size*/
@media screen and (max-width: 479px) {
    body {
        font-size: 14px;
    }
    main {
        width: 80%;
    }
    header.telenor-nav {
        margin-bottom: 10px;
    }
    .hub-image-wrapper {
        margin-bottom: 10px;
    }
    .apply-btn {
        font-size: 14px;
    }
    .intern-cards .title {
        font-size: 20px;
        margin: 0;
    }
    .card-wrapper {
        width: 90%;
        margin: 20px 0 0 0;
    }
    .card-wrapper:last-child {
         margin: 20px 0;
    }
    .card-front, .card-back {
        height: 190px;
    }
    .info-text-wrapper .info-title {
        font-size: 14px;
    }
    .intern-name {
        font-size: 16px;
    }
    .card-back {
        padding: 25px 20px 0 25px;
    }
    .card-back .intern-info {
        font-size: 15px;
    }
    footer {
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {
    main {
        width: 90%;
    }
}