@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face {
    font-family: 'telenor-regular';
    src: url('../assets/fonts/telenor_regular-webfont.woff');
}

@font-face {
    font-family: 'telenor-light';
    src: url('../assets/fonts/telenor_light-webfont.woff');
}

body {
    padding: 0;
    margin: 0;
    font: 16px 'telenor-light', 'Open Sans', sans-serif;
    quotes: '\201c' '\201d';
}
    header.telenor-nav,
    footer {
        background-color: rgb(0, 172, 231);
        text-align: center;
    }
    header.telenor-nav {
        margin-bottom: 30px;
    }
        .logo {
            height: 130px;
        }
    main > .list-container {
        width: 90%;
        margin: auto;
    }
        .hub-image-wrapper {
            margin-bottom: 30px;
        }
            .hub-image {
                width: 100%;
                height: auto;
            }
        section.info-box {
            display: flex;
            flex-flow: row;
            padding: 20px;
            background-color: rgb(239, 239, 239);
            box-shadow: 0 2px 10px #b0b0b0;
            margin-bottom: 30px;
        }
            .info-text-wrapper {
                width: 80%;
            }
                .info-title {
                    font-weight: bold;
                }
                .info-text {
                    /*padding-right: 15px;*/
                }
                .btn-wrapper {
                    display: flex;
                }
                    .apply-btn {
                        margin: auto auto auto 30px;
                        font-size: 16px;
                        font-weight: bold;
                        padding: 7px 13px 6px;
                        background: linear-gradient(
                                45deg,
                                rgba(117,0,113,1) 0%,
                                rgba(255,0,121,1) 50%);
                        border: none;
                        color: #ffffff;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
        section.intern-cards {
            width: 100%;
            text-align: center;
            display: inline-block;
            position: relative;
        }
            .intern-cards > .title {
                margin: 10px 0 0;
            }
            .card-wrapper {
                width: 30%;
                display: inline-block;
                perspective: 1200px;
                margin: 20px 15px 20px 0;
            }
            .card-wrapper:hover .intern-single-card {
                transform: rotateY(-180deg);
            }
                article.intern-single-card {
                    position: relative;
                    transition: all 0.5s ease-in-out;
                    transform-style: preserve-3d;
                }
                    .card-front, .card-back {
                        height: 210px;
                        width: auto;
                        backface-visibility: hidden;
                        overflow: hidden;
                        box-shadow: 0 2px 10px #b0b0b0;
                    }
                    .card-front {
                        background-color: rgb(239, 239, 239);
                        padding: 15px 25px 0;
                        display: block;
                    }
                        .card-front .intern-image-wrapper {
                            margin: auto;
                            width: 120px;
                            height: 120px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        .card-front .intern-image-wrapper img {
                            width: 120px;
                        }
                        .card-front .intern-name {
                            font-weight: bold;
                            font-size: 20px;
                            padding: 5px 0;
                            margin: 0;
                        }
                    .card-back {
                        transform: rotateY(180deg);
                        padding: 25px 20px 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: #ffffff;
                        background-color: rgb(0, 172, 231);
                        text-align: left;
                    }
                        .card-back .intern-info {
                            font-style: italic;
                            font-size: 18px;
                        }
                        .card-back .intern-info::before {
                            content: open-quote;
                        }
                        .card-back .intern-info::after {
                            content: close-quote;
                        }
                        .card-back .intern-more-info-btn {
                            margin: auto;
                        }
                    .intern-more-info-btn {
                        font-size: 13px;
                        font-weight: bold;
                        padding: 3px 9px 2px;
                        background: linear-gradient(
                                45deg,
                                rgba(117,0,113,1) 0%,
                                rgba(255,0,121,1) 50%);
                        border: none;
                        color: #ffffff;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
    footer {
        margin-top: 30px;
    }


@media screen and (max-width: 1000px) {
    .card-back .intern-info {
        font-size: 17px;
    }
}

@media screen and (max-width: 900px) {
    .card-wrapper {
        width: 45%;
    }
    .card-back .intern-info {
        font-size: 19px;
    }
}

@media screen and (max-width: 690px) {
    .card-back .intern-info {
        font-size: 18px;
    }
}

@media screen and (max-width: 680px) {
    .card-back {
        padding: 20px 15px 0 20px;
    }
}

@media screen and (max-width: 615px) {
    .logo {
        height: 100px;
    }
    section.info-box {
        flex-flow: column;
    }
    .info-text-wrapper {
        width: 100%;
    }
    .info-text {
        padding-right: 0;
    }
    .apply-btn {
        margin: auto;
    }
    .card-front, .card-back {
        height: 230px;
    }
    .card-front .intern-name {
        font-size: 20px;
        margin: 0 auto;
    }
    .card-wrapper {
        margin: 15px 10px 15px 0;
    }
    .card-back .intern-info {
        font-size: 17px;
    }
}

@media screen and (max-width: 530px) {
    .card-back .intern-info {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .card-back {
        padding: 15px 10px 0 15px;
    }
}

/*phone size*/
@media screen and (max-width: 479px) {
    body > .list-container {
        font-size: 14px;
    }
    header.telenor-nav {
        margin-bottom: 10px;
    }
    main > .list-container {
        width: 80%;
    }
    .hub-image-wrapper {
        margin-bottom: 10px;
    }
    .apply-btn {
        font-size: 14px;
    }
    .intern-cards .title {
        font-size: 19px;
        margin: 0;
    }
    .card-wrapper {
        width: 90%;
        margin: 10px 0 0 0;
    }
    .card-wrapper:last-child {
        margin: 10px 0 20px 0;
    }
    .card-front, .card-back {
        height: 190px;
    }
    .card-front .intern-image-wrapper {
        width: 110px;
        height: 110px;
    }
    .card-front .intern-image-wrapper img {
        width: 110px;
    }
    .info-text-wrapper .info-title {
        font-size: 16px;
    }
    .card-back {
        padding: 15px 10px 0 15px;
    }
    .card-back .intern-info {
        font-size: 19px;
    }
    .intern-more-info-btn {
        font-size: 12px;
    }
    footer {
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {
    main > .list-container {
        width: 90%;
    }
}

@media screen and (max-width: 390px) {
    .card-back .intern-info {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .card-front .intern-name {
        font-size: 17px;
    }
    .card-back .intern-info {
        font-size: 16px;
    }
}